<div class="bkgimg" *ngIf="game | async; let g">
    <header class="clickable-area">
        <div class="container header-container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="fa-4x">
                        <!-- <span class="fa-layers fa-fw" >
                                    <i class="far fa-user-circle" ></i>
                                    <i class="far fa-circle" ></i>
                                    <i class="far fa-plus-circle" ></i>
                                </span> -->
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-user-circle"></i>
                            <!-- <i class="fas fas fa-circle" style="color:rgb(255, 255, 255);" data-fa-transform="shrink-6 down-5 right-5"></i> -->
                            <!-- <i class="fas fa-plus-circle" style="color:green;" data-fa-transform="shrink-6 down-5 right-5"></i> -->
                        </span>
                    </div>
                </div>

            </div>
            <p class="GameName" style="text-align:center">{{g.GameName}}</p>
        </div>
    </header>


    <main class="container" style="height:100%" (click)="clearDiceSelection()">
        <div class="row" *ngFor="let m of messages">
            {{ m.Label }}
        </div>
    </main>

    <footer class="fixed-bottom">
        <div class="container footer-container-border">
            <div style="width:100%; text-align:center;">{{selectedCharacter.name}}</div>
            <div style="position:relative">
                <div class="active-dice">
                    <p style="text-align:right;">
                        <img *ngIf="IsRollEnabled" (click)="roll(selectedCharacter)" src="assets/images/dice-active.png" style="text-align:right">
                        <img *ngIf="!IsRollEnabled" src="assets/images/dice-disabled.png" style="text-align:right">
                    </p>
                    <div>

                        <div class="selected-dice" [ngStyle]="{ 'background-image' : 'url(' + d.Source + ')' }" *ngFor="let d of diceQueue">
                            <h5 class="lineheight">5</h5>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <img (click)="clickSelectDice(d)" *ngFor="let d of selectedCharacter.Di" class="selected-dice" [src]="d.Source">
            </div>
        </div>
    </footer>
</div>