
.user-icon {
  width: 75px;
  height: 75px;
}

footer {
  height: 90px;
}

.user-icon {
  font-size: 100px;
}

.add-user {
  font-size: 41px;
  color: green;
}
.add-user-bkg {
  font-size: 41px;
  color: #ffffff;
}

.footer-container-border {
  border-top: 1px solid black;
}
.header-container {
  /* height: 100px; */
  border-bottom: 1px solid black;
}

.active-dice {
  position: absolute;
  top: -145px;
  right: 15px;
}

.selected-dice {
  margin: 5px;
  background-repeat: no-repeat;
  text-align:center;
  height:29px; 
  width:29px;
  float:left;
}

.lineheight {
line-height:2;
}

h3 {
  text-align: center;
}

.center {
  display: block;
  margin: auto;
}

.disabled-text {
  color: #bbbbbb;
}

.message-area {
  height: auto;
}

.GameName {
  font-family: FenwickWoodtype;
  font-size : 30px;

}

.bkgimg {
  background-image: url(../../assets/images/backgnd.jpg);
  background-repeat: no-repeat;
    background-size: cover;
  height:100%;
}

/* header, main, footer {
  height:100%;
} */

h5 {
  font-family: "Avenir Next", Helvetica;
  font-size: 2rem;
  color: #999;
  line-height: 1.1;
}
@supports 
  ((-webkit-text-stroke-color: #666)
  and
  (-webkit-text-fill-color: white))
  or
  ((-moz-text-stroke-color: #666)
  and
  (-moz-text-fill-color: white)) {
  span {
       -moz-text-fill-color: white;
    -webkit-text-fill-color: white;
       -moz-text-stroke-color: rgb(196, 185, 185);
    -webkit-text-stroke-color: rgb(201, 193, 193);
       -moz-text-stroke-width: 2px;  
    -webkit-text-stroke-width: 2px;
  }
}
